@import'../../config';

.add-comment-main {
    padding: 0rem 1rem 3rem;
    background: $main-background;

    p {
        font-size: 1.5rem;
    }

    .enter-comment {
        display: flex;
        // align-items: center;
        padding: 0rem 2rem;
        margin-top: 1.5rem;
        height: 1.5rem;

        input {
            width: 85%;
            height: 2rem;
        }

        .button-container {
            margin-top: -1rem;
            margin-left: 1rem;
            width: 15%;
        }
    }
}