@import'../../config';

.display-block {
    display: block;
}

.display-none {
    display: none;
}


.modal-main {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.287);

    .main {
        position: fixed;
        top: 25%;
        left: 40%;
        min-height: 250px;
        min-width: 350px;
        background: #fff;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
    }

    .notification {
        position: fixed;
        top: 0;
        left: 45%;
        min-height: 100px;
        min-width: 150px;
        background: #fff;
        padding: 1rem;
    }

    .new-ticket {
        position: fixed;
        top: 20%;
        left: 45%;
        min-height: 250px;
        min-width: 350px;
        background: #fff;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
    }

    .new-user {
        position: fixed;
        top: 20%;
        left: 15%;
        min-height: 250px;
        min-width: 350px;
        background: #fff;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
    }

    .modal-container {

        
        .warning {
            text-align: center;

            .warning-header {
                margin-bottom: 2rem;
            }

            h3 {
                margin-bottom: 1rem;
            }
            
            i {
                color: rgb(255, 47, 47);
                margin-bottom: 1rem;
            }

            .warning-text {
                p {
                    margin-bottom: 0.5rem;
                }

                .final-warning {
                    margin: 2rem 0.5rem;
                    text-decoration: underline;
                    color: crimson;
                }
            }
        }

        .header {
            text-align: center;
        }

        .changes-details {
            // margin-top: 1.5rem;
            margin: 1.5rem 0rem;
            text-align: center;

            .title {
                margin-bottom: 0.5rem;
                // text-decoration: underline;
            }

            .detail {
                margin-bottom: 1rem;
            }

            .create-success {
                color: green;
                margin-bottom: 1rem;
            }

        }

        .modal-btns {
            display: flex;
            justify-content: flex-end;
            margin-top: 1rem;

            .modal-btn {
                padding: 0.5rem;
            } 
    
            .btn-confirm {
                background: #007bff;
                border: #007bff;
                margin-left: 0.5rem;
    
                &:hover {
                    background: #479ffd;
                }
            }
    
            .btn-cancel {
                background: #6c757d;
                border: #6c757d;
    
                &:hover {
                    background: #858688;
                }
            }
        }
        
    }
    

    // Animation styles ***************
    .scale-up-center {
        -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    .slide-bottom {
        -webkit-animation: slide-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

}


@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}

@-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
}


  