@import'../config';

.btn2-main {
    // background: $btn-primary;
    font-family: $main-font;
    // font-weight: 600;
    color: #fff;
    // padding: 1rem 2rem;
    // border: $btn-primary; 
    // border-radius: 10px;
    // width: 100%;
    cursor: pointer;

    // &:hover {
    //     background: $btn-hover-primary;
    // }

    &:focus {
        outline: none;
    }
}