@import'../config';



.ticket-create {
    width: 230px;
    margin: 2.5rem 3rem;
}

.tickets-container {
     
    .tickets-main {
        background: #fff;
        margin: 4rem 2rem 4rem 2rem;
     
        
    }
}