@import'../config';

.ticket-details-main {
    padding: 4rem 2rem;

    .ticket-details-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1.5rem;
    }
}