// Themes colors  *****************

// Backgrounds
$main-background: rgb(233, 233, 233); 
$chart-background: rgb(197, 197, 197);



// Font colors
$main-font-color: rgb(73, 73, 73);

// Fonts styles
$main-font: 'Open Sans', sans-serif; 


// Buttons
$btn-primary: rgb(0, 163, 204)