// Themes colors  *****************

// Backgrounds
$main-background: rgb(233, 233, 233); 
$chart-background: rgb(255, 255, 255);


// Font colors
$main-font-color: rgb(73, 73, 73);


// Fonts styles
$main-font: 'Open Sans', sans-serif; 


// Buttons
$btn-primary: rgb(0, 163, 204);
$btn-hover-primary: rgb(67, 182, 211);

$btn-add-user: rgb(2, 182, 41);
$btn-add-hover: rgba(2, 182, 41, 0.582);

$btn-del-user: rgb(136, 7, 7);
$btn-del-hover: rgba(136, 7, 7, 0.568);

$small-del-btn: rgb(136, 7, 7);
$small-del-btn-hover: rgba(136, 7, 7, 0.568);

// Pagination
$pgn-background: linear-gradient(0deg, rgba(199,199,199,1) 0%, rgba(250,250,250,1) 100%);


// Banners
$bnr-primary: linear-gradient(90deg, rgba(233,168,0,1) 30%, rgba(235,124,6,1) 77%);;


// Shadows
$card-shadow: 4px 4px 8px 0px rgba(0,0,0,0.09);
$bnr-shadow: 8px 8px 7px -3px rgba(0,0,0,0.25);


// Button base style

.btn2-main {
    font-family: $main-font;
    color: #fff;
    cursor: pointer;
    
    &:focus {
        outline: none;
    }
}