@import'config';
// @import'utilities';
 
// Reset *****************************
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Main content window

.main-content {
    position: absolute;
    top: 80px;
    left: 15%;
    width: 85%;
    background: $main-background;
}

// General Styles ******************

body {
    font-family: 'Open Sans', sans-serif;
    color: $main-font-color;
    line-height: 1.4;

}
 
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}